/* --- Global Styles --- */

html, body {
    font-family: 'Montserrat', serif;
    background-color: #f4f8fb;
    color: #333;
    padding: 0;
    padding-top: 40px;
    width: 100%;
    min-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 60px;
}

strong {
    font-weight: bold !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* --- Navbar --- */
.navbar {
    position: fixed;
    background-color: #62997a;
    padding: 0px 60px;
    width: 100%;
    min-width: 100vw;
    height: 70px; /* Ajusta el tamaño total de la navbar */
    min-height: 50px; /* Evita que sea demasiado alta */
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space items out */
    flex-wrap: nowrap; /* Prevent items from wrapping */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Adds shadow effect */
}

.navbar-nav {
    display: flex;
    flex-direction: row; /* Force items to stay in one line */
    gap: 15px; /* Adds space between items */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #72243d;
}

/* Person Icon Dropdown */
.nav-item.dropdown {
    position: relative;
}

.navbar .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1050; /* Ensures it appears above other elements */
}

.navbar .dropdown-menu a {
    padding: 10px 15px;
    font-weight: normal;
}

/* Dropdown Item Styling */
.dropdown-menu a {
    color: #333; /* Default text color */
    background-color: white; /* Background color of dropdown items */
}

.dropdown-menu a:hover {
    color: #2C6E49; /* Color when hovering over dropdown items */
    background-color: #D0E4D9; /* Background color on hover */
}

/* Home Page */

/* Section Styling */
section {
    padding: 0;
    width: 100%;
    text-align: center;
}

section h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
}

section p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}

/* Hero Section */

.logo-container {
    font-weight: bold;
    font-size: 80px;
}

.logo-img {
    height: 50px;
    vertical-align: middle;
}

/* --- Botones --- */
.btn-success {
    background-color: #62997a;
    border: none;
}

.btn-success:hover {
    background-color: #476956;
}

.btn-sm.p-1 {
    background: none;  /* Sin fondo */
    border: none;      /* Sin borde */
    padding: 0;        /* Elimina el espacio interno */
    font-size: 1.2rem;
    color: #f0c505;    /* Color del icono (cámbialo si quieres) */
    cursor: pointer;
}

.btn-danger {
    background-color: #f0c505;
    border: none;
}

.btn-danger:hover {
    background-color: #edb92e;
}

.btn-more {
    background-color: #72243d;
    color: white;
    border: none;
    display: flex;            /* Usa flexbox */
    align-items: center;       /* Centra verticalmente */
    justify-content: center;   /* Centra horizontalmente */
    text-align: center;        /* Asegura el texto centrado */
    padding: 8px 12px;         /* Ajusta el padding para evitar desajustes */
    font-size: 14px; 
}

.btn-more:hover {
    background-color: #3b0819;
    color: white;
}

.btn-info {
    background-color: #6b666d;
    border: none;
    color: white;
}

.btn-info:hover {
    background-color: #413D42;
    color: white;
}

.btn-info:focus, 
.btn-info:active {
    background-color: #6b666d; /* Color de fondo cuando está en foco o activado */
    box-shadow: none; /* Elimina el contorno azul (foco) */
    border: none; /* Elimina el borde de enfoque */
}

/* --- Introduction Section --- */
.introduction {
    position: relative;
    background: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    min-width: 100vw;
    margin-top: -30px;;
    /* Flexbox for centering */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
}

.introduction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* White overlay with 70% opacity */
    z-index: 1;
}

.introduction > * {
    position: relative;
    z-index: 2;
}


.introduction p {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 70px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff34;
}

.introduction .container-fluid {
    padding-top: 0;
}

/* --- About Us Section --- */
.about-us {
    background-color: #f4f8fb;
    padding: 50px 0;
    min-height: 100vh;
    height: 160vh;
}

.about-us p {
    margin-top: 40px;
    margin-bottom: 20px;

}

/* --- Our Services Section --- */
.our-services {
    background-color: #f4f8fb;
    padding: 50px 0;
}

.container {
    width: 100%; /* To ensure a max width */
}

.service-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

.service-icon {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    filter: invert(0.7); /* To adjust the icons if they are light */
}

h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #6b666d;
    padding: 20px 0;
    position: absolute;
}
  
.footer-content {
    display: flex;
    justify-content: space-between; /* Positions text on the left and icons on the right */
    align-items: center;
    width: 40%;
    padding: 0;
}
  
footer span {
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
}
  
.social-links a {
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: white; /* Color del icono */
    font-size: 27px; /* Tamaño del icono */
}

.social-links a:hover {
    transform: scale(1.1);
}
  

/* Flexbox to center the cards */
.row {
    display: flex;
    justify-content: center;
}

.row h6 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 3.5rem;
    padding: 15px 0;
    border-bottom: 3px solid #208949;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.row h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: #2c3e50;
    background-color: rgba(52, 219, 57, 0.1);
    border: 2px solid rgba(48, 152, 59, 0.681);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.row h2:hover {
    background-color: rgba(60, 219, 52, 0.15);
    border-color: rgba(48, 152, 58, 0.908);
    transform: translateY(-2px);
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Ensure cards are responsive */
@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%; /* Stack cards on mobile */
        max-width: 100%;
    }
}

/* --- Tarjetas de Pacientes --- */
.patient-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}


/* --- Modal --- */
.modal-content {
    border-radius: 10px;
}

/* --- Formularios --- */
input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

/* --- Footer --- */
.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-select:focus,
.form-control:focus {
    outline: none; /* Elimina el contorno azul predeterminado */
    box-shadow: 0 0 5px 2px #72243d;
    border: 1px solid #72243d; /* Opcional: cambia también el borde */
}

.form-check-input:checked {
    background-color: #72243d; /* Color de fondo cuando está seleccionado */
    border-color: #72243d;     /* Color del borde */
}

/* -- Images -- */
.logo-img {
    height: 300px;
    position: relative; 
    top: -10px;
    margin-top: -10px; /* Ajusta según necesites */
    margin-left: -30px;
    padding-left: 0;
}

.navbar_img {
    height: 85px; /* Ajusta la altura según lo que necesites */
    max-height: 100px; /* Evita que sea demasiado grande */
    width: auto; /* Mantiene la proporción */
}

.img-bordered {
    border: 3px solid #2C6E49; /* Color verde oscuro, ajusta según necesites */
    border-radius: 10px; /* Bordes redondeados opcionales */
    padding: 5px; /* Espaciado opcional entre la imagen y el borde */
}


/* -- Sing up -- */
.form-signin {
    max-width: 500px; /* Ajusta el ancho máximo del formulario */
    margin: auto; /* Centra el formulario horizontalmente */
    display: flex; 
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    height: 80vh; /* Hace que ocupe el 100% de la altura de la ventana */
}

.form-control {
    width: 100%; /* Asegura que se adapte al contenedor */
}



/* -- Doctor space --*/
/* Ajuste de la tabla */
.table {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/* Estilo de la cabecera */
.table thead {
    background-color: #ddd; /* Color suave de la paleta verde */
    color: #2C6E49;
    font-weight: bold;
}

/* Bordes redondeados para las celdas */
.table td, .table th {
    padding: 15px;
    text-align: left;
}

th.actions-column, td.actions-column {
    padding-right: 50px;  /* Ajusta el valor según necesites */
}

/* Espaciado entre botones */
.btn-sm {
    padding: 5px 10px;
}

/* Button styling */
.table td .btn-sm {
    margin-right: 5px; /* Add some spacing between buttons */
    display: flex; /* Ensures buttons align properly */
}

/* Efecto hover en las filas */
.table-hover tbody tr:hover {
    background-color: #D0E4D9;
    transition: background-color 0.3s ease;
}

.collapsible {
    font-family: 'Montserrat', serif;
    background-color: #f4f8fb;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #f4f8fb;
    color: #2C6E49
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.collapsible.active + .content {
    max-height: none; /* Permite que el contenido se expanda por defecto */
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.fixed-sidebar-right {
    position: fixed;
    right: -2%; /* Fija al borde derecho */
    top: 0;
    bottom: 0;
    width: 200px; /* Ajusta el ancho si es necesario */
    max-height: 100vh; /* Para que no ocupe toda la pantalla */
    overflow-y: auto; /* Permite hacer scroll dentro si es necesario */
    background: #BF9AA6; /* Asegura que el fondo sea visible */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1000; /* Para que quede por encima de otros elementos */
    border: 3px solid #72243d; /* Borde de la barra de navegación */
}

.fixed-sidebar-right .card {
    border: none;  /* Elimina el borde por defecto de la tarjeta */
}

.fixed-sidebar-right h5 {
    font-size: 24px;  /* Aumenta el tamaño del título 'Navigation' */
    margin-top: 90px;
    margin-bottom: 35px;
}

.fixed-sidebar-right .nav-link {
    font-size: 18px;  /* Aumenta el tamaño de la fuente de los enlaces */
    color: white;
    transition: transform 0.3s ease;
}

.fixed-sidebar-right .nav-link:hover {
    transform: translateY(-2px);
}

.fixed-sidebar-right .nav-item {
    margin-bottom: 30px;  /* Espacio entre los enlaces */
}