{% extends 'base.html' %}
{% block title %}{{ current_user.surname }}'s private space{% endblock %}

{% block body %}
<div class="container">
    <div class="row col mb-5">Welcome {{ current_user.name }} {{ current_user.surname }}</div>

    <form action="{{ url_for('doctor_space') }}" method="post">
        <label for="patient_name">Patient name:</label>
        <input type="text" id="patient_name" name="patient_name" required>
        <button type="submit">Add Patient</button>
    </form>
{% endblock %}

