{% extends 'base.html' %}

{% block navbar %}
<!-- Leave empty to hide the navbar, or put a simplified version here -->
{% endblock %}

{% block title %}More Info - {{ patient.name }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-12">
            <a href="{{ url_for('doctor_space') }}" class="btn btn-success">
                <i class="bi bi-arrow-left"></i> Go Back
            </a>
        </div>
    </div>
    <h6 class="text-center">More Info</h6>

    <div class="row">
        <!-- Contenido principal -->
        <div class="col-md-9">
            <!-- Patient data -->
            <section id="patient_data" class="mb-5">
                <h2>Patient Data</h2>
                <div class="card p-3">
                    <p><strong>Name:</strong> {{ patient.name }}</p>
                    <p><strong>DNI:</strong> {{ patient.DNI }}</p>
                    <p><strong>Age:</strong> {{ patient.age }}</p>
                    <p><strong>Gender:</strong> {{ patient.gender }}</p>
                    <p><strong>Cancer Type:</strong> 
                        {% for cancer in cancer_types %}
                            {% if cancer.cancer_id == patient.cancer_id %}
                                {{ cancer.cancer_type }}
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>Phone:</strong> {{ patient.phone if patient.phone else 'Not provided' }}</p>
                    <p><strong>Email:</strong> {{ patient.email if patient.email else 'Not provided' }}</p>
                    <p><strong>Nurse:</strong> 
                        {% if patient.nurse %}
                            {{ patient.nurse.name }} {{ patient.nurse.surname }}
                        {% else %}
                            -- No nurse assigned --
                        {% endif %}
                    </p>
                    <p><strong>Treatment:</strong> 
                        {% if patient.drugs %}
                            {% for drug in patient.drugs %}
                                {{ drug.name }}
                            {% endfor %}
                        {% else %}
                            No treatment assigned
                        {% endif %}
                    </p>
                </div>
            </section>

            <!-- Variants -->
            <section id="variants" class="mb-5">
            <button class="collapsible">
                <h2>Variants</h2>
            </button>
            <div class="content">
                <table class="table table-striped">
                    <thead class="table-success">
                        <tr>
                            <th>Variant ID</th>
                            <th>Gene</th>
                            <th>Chromosome</th>
                            <th>Amino acid change</th>
                            <th>Variant Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for variant in variant_details %}
                        <tr>
                            <td>{{ variant.variant_id }}</td>
                            <td>{{ variant.gene_symbol }}</td>  <!-- Aquí mostramos el gene_symbol -->
                            <td>{{ variant.chromosome }}</td>
                            <td>{{ variant.aa_mutation }}</td>
                            <td>{{ variant.variant_type|replace('_', ' ')|replace(',', ', ')|capitalize }}</td>
                        </tr>
                        {% else %}
                        <tr><td colspan="5" class="text-center">No variants found</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </section>

            <!-- KEGG Enrichment Report -->
            <section id="kegg-report" class="mb-5">
                <button class="collapsible"><h2>KEGG Enrichment Report</h2></button>
                <div class="content">
                    <table class="table table-striped">
                        <thead class="table-success">
                            <tr>
                                <th>Term</th>
                                <th>Overlap</th>
                                <th>Adj. p-value</th>
                                <th>Genes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table_data %}
                            <tr>
                                <td>{{ row[0] }}</td> <!-- Term -->
                                <td>{{ row[1] }}</td> <!-- Overlap -->
                                <td>{{ row[2] }}</td> <!-- Adj. p-value -->
                                <td>{{ row[3] | replace(';', ' ') }}</td> <!-- Genes (separados por espacio) -->
                            </tr>
                            {% else %}
                            <tr><td colspan="4" class="text-center">No KEGG Enrichment data found</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            
            <!-- Mutational Signature Analysis-->
            <section id="mutational-signature" class="mb-5">
                <button class="collapsible"><h2>Mutational Signature Analysis</h2></button>
                <div class="content">
                    <!-- First Row: SBS96 Plot -->
                    <div class="row mb-3">
                        <div class="col-md-12 text-center">
                            <h3>SBS96 Signature Plot</h3>
                            <img src="{{ url_for('serve_analysis_file', patient_id=patient.patient_id, filename='SBS96_plot.png') }}" 
                                class="img-fluid" alt="SBS96 Plot">
                        </div>
                    </div>

                    <!-- Second Row: Signature Pie Chart -->
                    <div class="row mb-3">
                        <div class="col-md-5 text-center">
                            <h3>Signature Decomposition</h3>
                            <img src="{{ url_for('serve_analysis_file', patient_id=patient.patient_id, filename='signature_pie_chart.png') }}" 
                                class="img-fluid" alt="Signature Pie Chart">
                        </div>
                    </div>
                    <!-- Second Row: SIgnatures info-->
                    <div class="row-md-3">
                        <h3>Detected Signatures Details</h3>
                        <div class="list-group w-50 mx-auto">
                            {% for sig in signature_details %}
                            <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                                    data-bs-toggle="modal" data-bs-target="#sbsModal{{ loop.index }}">
                                {{ sig.signature_id }}
                                <span class="badge bg-success rounded-pill">
                                    <i class="fas fa-info-circle"></i> Details
                                </span>
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            
                <!-- SBS Signature Modals -->
                {% for sig in signature_details %}
                <div class="modal fade" id="sbsModal{{ loop.index }}" tabindex="-1" aria-labelledby="sbsModalLabel{{ loop.index }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title w-100 text-center" id="sbsModalLabel{{ loop.index }}">{{ sig.signature_id }} Details</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if sig.aetiology %}
                                <div class="mb-4">
                                    <h5>Aetiology</h5>
                                    <p>{{ sig.aetiology }}</p>
                                </div>
                                {% endif %}
                                
                                {% if sig.comments %}
                                <div class="mb-4">
                                    <h5>Description</h5>
                                    <p>{{ sig.comments }}</p>
                                </div>
                                {% endif %}
                                
                                {% if sig.link %}
                                <div class="mb-4">
                                    <a href="{{ sig.link }}" target="_blank" class="btn btn-outline-success">
                                        <i class="fas fa-external-link-alt"></i> Visit Reference
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>

            <!-- Treatments -->
            <section id="treatments" class="mb-5">
                <button class="collapsible"><h2>Treatments</h2></button>
                <div class="content">
                    <table class="table table-striped">
                        <thead class="table-success">
                            <tr>
                                <th>Drug</th>
                                <th>Effect</th>
                                <th>Subtype</th>
                                <th>Match Reason</th>
                                <th>Medication Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for treatment in treatments %}
                            <tr>
                                <td>{{ treatment[0] }}</td> <!-- Nombre del fármaco -->
                                <td>{{ treatment[1] | capitalize }}</td> <!-- Asociación (efecto) -->
                                <td>{{ treatment[2] if treatment[2] else 'N/A' }}</td> <!-- Subtipo o 'N/A' si es nulo -->
                                <td>{{ treatment[3] }} {{ treatment[4] }}</td> <!-- Variant ID o Gene ID o '-' -->
                                <td>
                                    <a href="https://www.drugs.com/mtm/{{ treatment[0] | replace(' ', '-')}}.html" 
                                       target="_blank" 
                                       class="btn btn-success btn-sm">
                                        View Details
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                            <tr><td colspan="4" class="text-center">No treatments found</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- Resistances -->
            <section id="resistances" class="mb-5">
                <button class="collapsible"><h2>Resistances</h2></button>
                <div class="content">
                    <table class="table table-striped">
                        <thead class="table-danger">
                            <tr>
                                <th>Drug</th>
                                <th>Match Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resistance in resistances %}
                            <tr>
                                <td>{{ resistance[0] }}</td>
                                <td>{{ resistance[1] }} {{ resistance[2] }}</td>
                            </tr>
                            {% else %}
                            <tr><td colspan="3" class="text-center">No resistances found</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <!-- Índice de navegación -->
        <div class="col-md-3">
            <div class="card p-3 position-sticky" style="top: 20px;">
                <h5>Navigation</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="#patient_data">Summary</a></li>
                    <li class="nav-item"><a class="nav-link" href="#variants">Variants</a></li>
                    <li class="nav-item"><a class="nav-link" href="#kegg-report">KEGG Enrichment</a></li>
                    <li class="nav-item"><a class="nav-link" href="#mutational-signature">Mutational Signature</a></li>
                    <li class="nav-item"><a class="nav-link" href="#treatments">Treatments</a></li>
                    <li class="nav-item"><a class="nav-link" href="#resistances">Resistances</a></li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <a href="{{ url_for('doctor_space') }}" class="btn btn-success">
                    <i class="bi bi-arrow-left"></i> Go Back
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Smooth Scrolling -->
<script>
    // Smooth scrolling for navigation links
    document.querySelectorAll('.nav-link').forEach(anchor => {
        anchor.addEventListener('click', function (event) {
            event.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({ behavior: 'smooth' });
        });
    });

    // Collapsible section toggle
    var coll = document.getElementsByClassName("collapsible");

    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>



{% endblock %}
